{% extends 'layout/base.jinja' %}

{% block content %}
    <article>
        <div>
            <h1>ポリシー</h1>
        </div>
        <hr>
        <div class="gap-2 grid">
            <h2>インデックスポリシー</h2>
            <div>
                ・当サイトでは、掲載記事に対する検索機能を提供するにあたり、記事内容のインデックス化を行います。<br>
                ・検索機能は、ユーザーが目的の情報を探すための補助ツールとしての役割を持ち、元記事の内容や詳細な情報の代替を目的とするものではありません。<br>
                ・検索機能の提供にあたっては、一般に無償で公開されている情報のみを対象とし、出典（リンク）を明記します。ただし、後に有償に変更された場合や、有償記事の無償部分などの例外を除きます。
            </div>
            <h2>プライバシーポリシー</h2>
            <div>
                ・当サイトでは、アクセス解析ツール「Googleアナリティクス」を使用しています。Cookieを使用して匿名でデータを収集しており、個人を特定するものではありません。ブラウザの設定でCookieを無効にすることで収集を拒否できます。詳細は<a href="https://policies.google.com/technologies/partner-sites?hl=ja">Googleポリシーと規約</a>をご覧ください。<br>
                ・当サイトでは、「Googleアドセンス」を使用して広告を配信しています。ユーザーの興味に応じた広告（パーソナライズ広告）を表示するため、Cookieを使用することがあります。<a href="https://www.google.com">広告設定</a>でパーソナライズ広告を無効にできます。また、<a href="https://www.aboutads.info">www.aboutads.info</a>にアクセスすることで、第三者配信事業者のCookieを無効にできます。
            </div>
        </div>
    </article>
{% endblock %}
