{% from 'layout/_macros.jinja' import card %}

{% extends 'layout/base.jinja' %}

{% block content %}
    <article>
        <div>
            <h1>ツールなど</h1>
        </div>
        <hr>
        <div>準備中です。</div>
    </article>
{% endblock %}
