{% set google_form_url = 'https://docs.google.com/forms/d/e/1FAIpQLScAgYpS3ebCNxXWaFddKQYmEAIria7nrlPJhN4bcE9b3mTgUg/viewform' %}
{% set x_account_url = 'https://x.com/amemiyapoke' %}
{% set storage_url = 'https://storage.googleapis.com/pocket-square' %}
