{% macro pagination(paginations, params, total_pages) %}
    <div class="pagination">
        <button data-page="{{ params.page|int - 1 }}"{{ ' disabled' if params.page|int == 1 }}><</button>
        {% for pagination in paginations %}
            <button class="pagination tw-pagination"{{ ' disabled' if pagination == params.page else ' data-page="' ~ pagination ~ '"' }}>{{ pagination }}</button>
        {% endfor %}
        <button data-page="{{ params.page|int + 1 }}"{{ ' disabled' if params.page|int == total_pages|int }}>></button>
    </div>
{% endmacro %}

{% macro tw_form_control(label='', type='') %}
    <div class="relative flex bg-white w-full">
        <span class="absolute top-[-10.2px] left-3 bg-inherit px-1 text-sm font-medium">{{ label }}</span>
        {{ caller() }}
        {% if type == 'select' %}
            <span class="material-symbols-outlined absolute h-fit inset-y-0 my-auto right-3 font-bold pointer-events-none bg-inherit">keyboard_arrow_down</span>
        {% endif %}
    </div>
{% endmacro %}
